@import "tailwindcss";

@theme {
  --color-unique-black: #090909;
  --color-unique-white: #ffffff;
  --animate-rainbow-swoosh: rainbowAnim 2s linear forwards;
  --animate-hover-effect: hoverEffect 2s ease-in-out infinite;

  @keyframes rainbowAnim {
    0% {
      background-position: 80% 50%;
    }
    100% {
      background-position: -20% 50%;
    }
  }

  @keyframes hoverEffect {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(0.5rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }
}

@layer utilities {
  .text-rainbow-swoosh {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    /* 
      Creates a circular gradient blending from purple in the center
      out to red, and finally fading into pure white.
    */
    background-image: radial-gradient(
      circle,
      #00e1ff 0%,
      #46fc98 25%,
      #ffffff 35%,
      /* Smooth fade out to white */ #ffffff 100%
    );

    /* Massive background in all directions for a broad curve */
    background-size: 700% 300%;

    /* Start position matching the 0% keyframe */
    background-position: 80% 30%;
  }
}
